.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: gray;
}

@media screen and (min-width: 718px) and (max-width: 1380px) {
  .container {
    background: yellow;
  }
}
